@import url(app.css);

.list-card {
  border: 1px solid rgb(224, 224, 224);
  padding: 1rem 3rem;
  gap: 0;
}

.list-card figure {
  display: flex;
  align-items: center;
}

.list-card img {
  width: 80%;
}

.list-card-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.list-card-name {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: capitalize;
}

.list-card-right button {
  width: 40%;
}

.read-more-btn {
  color: var(--white);
  width: max-content;
}
