@import url(app.css);

.table {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.table h2 {
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.user-table {
  margin-left: 20rem;
  width: 70%;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.item-table {
  margin-left: 6rem;
  width: 90%;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

th {
  text-align: center;
  font-weight: 700;
  padding: 0.3rem 1rem;
  background-color: rgb(215, 232, 255);
  color: var(--bold-text-color);
}

tr {
  padding-bottom: 10px;
}

tr:nth-child(2n + 1) {
  background-color: rgba(241, 241, 241, 0.577);
}

tr:nth-child(2n + 2) {
  background-color: rgba(241, 246, 255, 0.696);
}

td {
  padding: 10px;
  color: var(--light-text-color);
  text-align: center !important;
}

.user-table-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgb(165, 165, 165);
}

.table-colors-cont {
  display: flex;
  gap: 0.2rem;
}

.cart-color {
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--gray);
  border-radius: 50%;
}
