@import url(app.css);

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
  background-color: var(--white);
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.08);
}

.card figure {
  display: flex;
  position: relative;
}

.card figcaption {
  position: absolute;
  top: 5%;
  right: 4%;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 2rem;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}

.card img {
  width: 100%;
}

.card-image-bottom {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-image-bottom p {
  text-transform: capitalize;
  font-size: 1.1rem;
}

.card-price {
  color: var(--blue);
}
