.contact-heading {
  text-align: center;
  margin-top: 3rem;
  font-size: 2.5rem;
}

.map {
  margin: 3rem 0;
}

.form {
  width: 30vw;
  margin: 3rem auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}

form input,
textarea {
  font-size: 1rem;
  font-family: var(--font-family);
  padding: 0.8rem 1.2rem;
  border: 1px solid rgb(201, 212, 255);
  box-shadow: 0 0 5px 0 rgb(192, 192, 255);
}

form input:focus,
textarea:focus {
  outline: none;
}
