@import url(app.css);

.feature-section {
  background-color: rgb(244, 245, 255);
  margin-bottom: 4rem;
}

.feature-cont {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature-cont h2 {
  margin-bottom: 3rem;
  font-size: 2rem;
}

.feature-section span {
  margin: 0.5rem;
  color: var(--blue);
  font-size: 0.8rem;
  text-align: center;
}
