@import url(app.css);

.hero-section {
  height: 80vh;
  display: flex;
  align-items: center;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.hero-left span {
  color: var(--blue);
  text-transform: uppercase;
  font-size: 1.2rem;
}

.hero-left h1 {
  font-size: 4rem;
  font-weight: bolder;
}

.hero-left button {
  width: 20%;
}

.hero-right img {
  width: 100%;
}

@media (max-width: 768px) {
  .hero-section {
    height: 90vh;
  }
  .hero-left {
    align-items: center;
  }
  .hero-left h1 {
    font-size: 3rem;
  }
  .hero-left .btn {
    width: 30%;
  }
}
