@import url(app.css);

nav {
  transition: all 0.2 linear;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.navbar a:hover {
  color: var(--blue);
}

.cart-icon-cont {
  position: relative;
}

.cart-icon {
  font-size: 1.8rem;
}

.cart-icon-cont span {
  position: absolute;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 50%;
  padding: 0.05rem 0.4rem;
  top: -90%;
  right: -37%;
}

.menu-icons {
  display: none;
  z-index: 100;
  font-size: 1.5rem;
  position: relative;
}

.menu-open,
.menu-close {
  position: absolute;
  color: var(--black);
}

@media (max-width: 768px) {
  .nav-lists {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    background-color: var(--blue);
    flex-direction: column;
    transform: translateX(100%);
    color: var(--white);
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 20;
    transition: all 0.3s linear;
  }

  .active .nav-lists {
    transform: translateX(0%);
    visibility: visible;
  }

  .navbar a {
    color: var(--white);
  }

  .cart-icon-cont span {
    background-color: var(--black);
    color: var(--white);
  }

  .menu-icons {
    display: block;
    position: absolute;
    top: 33%;
    right: 5%;
  }

  .menu-close {
    color: var(--white);
  }
}
